






























    .footer {
    font-family: helvetica, serif;
    font-size: 16px;
    margin-top: 111px;


    @media screen and (max-width: 990px) {
        .left, .middle, .right {
            width: 100%;
        }
        color: grey;
    }
